<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<footer class="bg-dark text-white">
    <div class="footer-main">
        <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="MESH Club LOGO" class="logo"></a>
        </div>
        <div class="social-icons">
            <a href="https://x.com/mesh_iitjammu" aria-label="MESH Club Twitter" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.instagram.com/mesh.iitjammu/" aria-label="MESH Club Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://t.co/YLSsAoyFZ4" aria-label="MESH Club LinkedIn" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="mailto:mesh@iitjammu.ac.in" aria-label="MESH Club Email" target="_blank"><i class="fa-regular fa-envelope"></i></a>
        </div>
    </div>
    <hr style="width: 100%; background-color: rgba(255, 255, 255, 0.3);">
    <p>&copy; 2024 MESH Club. All rights reserved.</p>
</footer>