<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/logo-without-text.png" alt="MESH Club Logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/">Home</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Teams
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" style="color: black; padding: 0.1vw 1vw;" href="../teams/current">Current Team</a></li>
                        <li><a class="dropdown-item" style="color: black; padding: 0.1vw 1vw;" href="../teams/team2023-24">Team 2023-24</a></li>
                        <li><a class="dropdown-item" style="color: black; padding: 0.1vw 1vw;" href="../teams/team2022-23">Team 2022-23</a></li>
                        <li><a class="dropdown-item" style="color: black; padding: 0.1vw 1vw;" href="../teams/team2021-22">Team 2021-22</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/pic">PIC</a>
                </li>
                <li class="nav-item">
                    <a href="/events/upcoming">Upcoming Events</a>
                </li>
                <li class="nav-item">
                    <a href="/events/past">Past Events</a>
                </li>
                <li class="nav-item">
                    <a href="/popular">Popular Guests</a>
                </li>
                <li class="nav-item">
                    <a href="/apply_guest">Apply to be a Guest Speaker</a>
                </li>
                <li class="nav-item">
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
