<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MESH Club - Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/meshdesign.css">
    <link rel="stylesheet" href="/css/indexUtil.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">

    
</head>
<body>
    
    <%- include('partials/navbar') %>
    
    <header class="header">
        <h1>Welcome to MESH Club</h1>
    </header>
    <section class="hero-section">
        <div class="container text-center">
            <h2 class="display-4 theme mb-4">Empowering Innovation and Creativity</h2>
            <p class="lead theme mb-4">Join us in our mission to drive change and inspire the future.</p>
        </div>
    </section>
    <main class="container mt-4">
        <h2 class="text-center mb-4">About Us</h2>
        <div class="row about">
            <!-- Mission Card -->
            <div class="col-md-4">
                <div class="card shadow-lg border-light">
                    <div class="card-body text-center">
                        <h5 class="card-title">Our Mission</h5>
                        <ul class="list-unstyled">
                            <li>Foster innovation and creativity through collaborative projects.</li>
                            <li>Empower students with skills and knowledge for their chosen fields.</li>
                            <li>Support growth and development in engineering, science and humanities.</li>
                        </ul>
                    </div>
                </div> 
            </div>
     
            <!-- Vision Card -->
            <div class="col-md-4">
                <div class="card shadow-lg border-light">
                    <div class="card-body text-center">
                        <h5 class="card-title">Our Vision</h5>
                        <ul class="list-unstyled">
                            <li>Create groundbreaking solutions through diverse student collaboration.</li>
                            <li>Build a community focused on learning and growth.</li>
                            <li>Lead in innovation with a strong commitment to excellence.</li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <!-- Values Card -->
            <div class="col-md-4">
                <div class="card shadow-lg border-light">
                    <div class="card-body text-center">
                        <h5 class="card-title">Our Values</h5>
                        <ul class="list-unstyled">
                            <li>Integrity: Work with transparency and honesty.</li>
                            <li>Collaboration: Achieve goals through teamwork and cooperation.</li>
                            <li>Excellence: Strive for exceptional outcomes and uphold high standards.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="image-section text-center">
        <div class="container">
            <div class="row">
                <!-- First Image and Text Div -->
                <div class="col-md-4 mb-4">
                    <div class=" image-container">
                        <img src="/images/Home/1.jpeg" class="img-fluid" alt="APJ Abdul Kalam">
                    </div>
                    <div class=" text-container">
                        <blockquote class="blockquote text-center mt-0">
                            <p class="mb-0 para">Ignite Your Entrepreneurial Spirit</p>
                            
                        </blockquote>
                    </div>
                </div>
                <!-- Second Image and Text Div -->
                <div class="col-md-4 mb-4">
                    <div class=" image-container">
                        <img src="/images/Home/2.jpg" class="img-fluid" alt="APJ Abdul Kalam">
                    </div>
                    <div class=" text-container">
                        <blockquote class="blockquote text-center mt-0">
                            <p class="mb-0 para">Bats, Brothers and Business: A Kashmiri Tale of Entrepreneurial Spirit</p>
                            
                        </blockquote>
                    </div>
                </div>
                <!-- Third Image and Text Div -->
                <div class="col-md-4 mb-4">
                    <div class=" image-container">
                        <img src="/images/Home/3.jpeg" class="img-fluid" alt="APJ Abdul Kalam">
                    </div>
                    <div class=" text-container">
                        <blockquote class="blockquote text-center mt-0">
                            <p class="mb-0 para">MESH Talk at Technunctus'23</p>
                            
                        </blockquote>
                    </div>
                </div>                
            </div>
        </div>
    </section>
    

    <%- include('partials/footer') %>
    <script src="/js/script.js"></script>
    <script src="/js/meshdesign.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
