<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Events - MESH Club</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/events.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">

</head>
<body>
    <%- include('partials/navbar') %>

    <div class="m-cards">
        <div class="m-card" onclick="showModal(this)">
            <div class="m-banner"><img src="/images/events/demofile.png" alt=""></div>
            <div class="dets">
                <h2>Ignite Your Entrepreneurial Spirit</h2>
                <p>25th August 2024</p>
                <p>A special talk by Mr. Vivek Raina, the visionary founder of Excitel Broadband and the driving force behind Launchpad Kashmi shared his invaluable insights on entrepreneurship, innovation, and leadership.</p>
            </div>
        </div>
        <div class="m-card" onclick="showModal(this)">
            <div class="m-banner"><img src="/images/events/demofile.png" alt=""></div>
            <div class="dets">
                <h2>Ignite Your Entrepreneurial Spirit</h2>
                <p>25th August 2024</p>
                <p>A special talk by Mr. Vivek Raina, the visionary founder of Excitel Broadband and the driving force behind Launchpad Kashmi shared his invaluable insights on entrepreneurship, innovation, and leadership.</p>
            </div>
        </div>
        <div class="m-card" onclick="showModal(this)">
            <div class="m-banner"><img src="/images/events/demofile.png" alt=""></div>
            <div class="dets">
                <h2>Ignite Your Entrepreneurial Spirit</h2>
                <p>25th August 2024</p>
                <p>A special talk by Mr. Vivek Raina, the visionary founder of Excitel Broadband and the driving force behind Launchpad Kashmi shared his invaluable insights on entrepreneurship, innovation, and leadership.</p>
            </div>
        </div>
        <div class="m-card" onclick="showModal(this)">
            <div class="m-banner"><img src="/images/events/demofile.png" alt=""></div>
            <div class="dets">
                <h2>Ignite Your Entrepreneurial Spirit</h2>
                <p>25th August 2024</p>
                <p>A special talk by Mr. Vivek Raina, the visionary founder of Excitel Broadband and the driving force behind Launchpad Kashmi shared his invaluable insights on entrepreneurship, innovation, and leadership.</p>
            </div>
        </div>
    </div>

    <!-- Modal for Enlarged Image -->
    <div id="imageModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="hideModal()">&times;</span>
            <img id="modalImage" src="" alt="Enlarged Banner">
            <div class="instruction">Press <b>Esc</b> to close</div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/events.js"></script>
</body>
</html>
