* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #E3E6E6;
}

.m-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vw;
    min-height: 100%;
    width: 80vw;
    margin: 5vw 20vw;
    position: relative;
}

.m-card {
    width: 60vw;
    min-height: 18vw;
    padding: 2vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 2vw;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.m-card .m-banner {
    width: 15vw;
    border-radius: 10px;
    overflow: hidden;
}

.m-card .m-banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.m-card .dets {
    width: 40vw;
}

.m-card .dets p {
    font-size: 1vw;
}

.m-card .dets h2 {
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 2vw;
}

/* Modal Styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /* Dark background */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it’s above other content */
}

.modal-content {
    position: relative;
    max-width: 50vw; /* Set max width */
    max-height: 80vh; /* Set max height */
    background: #fff;
    padding: 2vw;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content .modal-image {
    height: 75vh;
    max-width: max-content;
}

.modal-content img {
    width: 32rem;
    max-height: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

.instruction {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: #666;
}

/* Adjustments for smaller screens */
@media (width < 1000px) {
    .m-cards {
        margin: 5vw 10vw;
    }

    .m-card {
        width: 80vw;
        flex-direction: column;
        padding: 5vw;
        gap: 5vw
    }

    .m-card .m-banner {
        width: 40vw;
    }

    .m-card .dets {
        width: 100%;
    }

    .m-card .dets h2 {
        font-size: 5vw;
    }

    .m-card .dets p {
        font-size: 2.8vw;
    }
}